body {
  margin-right: 3%;
  margin-left: 0%;
}
p {
  text-align: justify;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.image img {
  border-radius: 50%;
  transition: 0.5s ease;
}
.image:hover .my {
  border-color: rgb(230, 104, 59);
  outline: var(--b) solid var(--c);
  outline-offset: var(--gs);
  box-shadow: 0 0 50px 5px rgb(230, 104, 59);
}
.main {
  width: 100%;
  background: url(pic/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  font-family: sans-serif;
}

.navbar {
  width: 86%;
  display: flex;
  margin: auto;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
  position: -ms-page;
}

.navbar .logo {
  width: 160px;
  cursor: pointer;
  margin-top: -3%;
  margin-left: -2%;
}

ul {
  margin-top: -4%;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 16px;
}

ul li a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: darkslategray;
  margin-top: -3%;
  transition: 0.4s ease;
}

ul li a:hover {
  color: rgb(230, 104, 59);
}

.info {
  margin-left: 7%;
  margin-top: 6%;
}

.info h1 {
  font-size: 65px;
  color: rgb(36, 32, 30);
}

.info h3 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
}

.info span {
  color: rgb(230, 104, 59);
}

.hire {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background: rgb(36, 32, 30);
  margin: 26px 0;
  padding: 10px 18px;
  border-radius: 10px;
  display: inline-block;
  transition: 0.4s ease;
}

.hire:hover {
  background: rgb(230, 104, 59);
  color: rgb(36, 32, 30);
}

.icons a {
  text-decoration: none;
  color: #000;
}

.icons ion-icon {
  margin-left: 7%;
  color: #000;
  margin-right: -60px;
  font-size: 40px;
  transition: 0.4s ease;
}

.icons ion-icon:hover {
  color: rgb(59, 174, 209);
}
.image img {
  max-width: 65vh;
  position: absolute;
  left: 70%;
  bottom: 0%;
}
#image img {
  max-width: 65vh;
  position: absolute;
  left: 70%;
  bottom: 10%;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

@media screen and (max-width: 450px) {
  * {
    margin: 1%;
    padding: 0%;
  }
  .image img {
    width: 30%;
    bottom: 80%;
    border-radius: 15%;
    left: 60%;
  }
  .navbar ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar ul li {
    width: 100%;
    text-align: left;
  }
  .info h1 {
    font-size: 2em;
  }
  .info h3 {
    font-size: 16px;
  }
  .icons a {
    padding: 8%;
  }
  .navbar img {
    position: relative;
    max-width: 20%;
    left: 0%;
    display: none;
  }
  #image img {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 770px) {
  .image img {
    width: 20%;
    bottom: 55%;
    border-radius: 15%;
    left: 60%;
  }
  #image img {
    display: none;
  }
  .icons a {
    padding: 8%;
  }
}
@media (min-width: 770px) and (max-width: 1024px) {
  .image img {
    width: 25%;
    bottom: 30%;
    border-radius: 50%;
    left: 75%;
  }
  .icons a {
    padding: 8%;
  }
  #image img {
    display: none;
  }
}
